<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMDB</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="icon" type="image/png" href="~/images/logo.png">
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <nav class="navbar navbar-expand-lg fixed-top navbar-border mx-0 my-0 ">
        <div class="container-fluid">
            <a class="navbar-brand ms-3" href="#">
                <img src="/images/logo.png" class="d-inline-block align-top navbar-brand__img " alt="">
            </a>
            <button class="navbar-toggler  " type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon text-white">
                    <i class="fas fa-bars fa-1x"></i>
                </span>
            </button>


            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav navbar-right ms-auto me-5 mt-2 mt-lg-0 ">
                   

                    @{if (Session["Userid"] == "0")
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/admin/index">Login</a>
                            </li>
                        }
                       
                        else if  (Session["Userid"] != null)
                        {
                                <li class="nav-item">
                                <a class="nav-link" href="~/Home/Home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="~/admin/index">Logout</a>
                                </li>
                        }   
                         else
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/admin/AllMovie">AllMovies</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="~/admin/index">Logout</a>
                            </li>
                        }
                        }

                </ul>


            </div>
        </div>
    </nav>
   
    <div class="body-content">
        @RenderBody()
    </div>
    <footer>
        <p>
            &copy; @DateTime.Now.Year - POWERPUFF GIRLS
        </p>
    </footer>

</body>
</html>
