@model IList<imdb.Models.director>

@{
    ViewBag.Title = "Index";
}

@{ foreach (var item in Model){
        <a href="/Dir/Dir_one/@item.id"> <img src="@item.photo" height="150px" /></a>
        <h3>@item.FirstName @item.LastName</h3>
    } }

