@model imdb.Controllers.acts_in_movie
@{
    ViewBag.Title = "AddActorToMovie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddActorToMovie</h2>


<form method="post" action="/Admin/one_movie/@Model.movie1.id">
    <label> actors</label>
    <select name="act">
        @{foreach (var item in Model.actors)
            {
                <option value="@item.id"> @item.FirstName </option>
            }
        }
    </select>
    <input type="submit" value="send" />
</form>