@{
    ViewBag.Title = "AdminActions";
}

<a href="/Admin/AllMovie">
    <h3>All Movie</h3>
    <br />
    <a href="/Admin/AddMovie">
        <h3>Add Movie</h3>
        <br />
        <a href="/Admin/Add_Dir">
            <h3>Add Director</h3>
        </a>
        <a href="/Admin/addact">
            <h3>Add Actors</h3>
        </a>
